

body{
    color: white;
    background-color: black;
}

h1{
    margin-top: 0;
    text-align: center;
}

h2{
margin-left: 16px;
}

a{
    text-decoration: NONE;
    color: black;
    padding: 2px;
    font-weight: bolder;
    margin-left: 45%;
    border: 2px solid aqua;
    box-shadow: 1px 1px 12px aqua;
    background-color: white;
}


h4{
    text-align: center;
}
.fie{
    width: 91%;
    margin-left: 0;
}

fieldset{
    width:30%;
    margin-left: 36%;
    border: 2px solid aqua;
    box-shadow: 1px 1px 12px aqua;
}

.OC{
    margin-left: 25%;
}

label{
    margin-left: 20px;
}

input{
    margin-left: 20px;
    border: 1px solid aqua;
    box-shadow: 1px 1px 12px aqua;
    border-radius: 10px;
}

#sub{
    margin-left: 40%;
}
