body{
    background-image: url(image/Fastrack\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 15%;
}

h1,h2{

     color: black; 
}