body{
    background-color:black;
  }
  
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  .navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0px;
  }
  
  .navbar ul{
    display: flex;
    gap: 40px;
    list-style-type: none;
  }
  
  .navbar label{
    display: none;
  }
  
  #click:checked~.navbar ul{
    display: block;
  }
  

  @media screen and (max-width:650px){
    .navbar label{
        display: block;
    }
    .navbar ul{
      text-align: center;
        display: none;
        position: absolute;
        top: 130px;
        right: 0;
    }
  
    .navbar ul li{
        padding: 10px;
        font-size: larger;
        background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0.2));
        backdrop-filter:blur(2px);
    }
  
  }
  
/* 
  @media screen and (max-width:650px){
    .navbar label{
        display: block;
        margin-right: 20px;
    }
    .navbar ul{
        display: none;
    }
  }
   */
  .navbar .click i{
  color: white;   
  }
  
  .navbar h1{
    display: flex;
    font-size: 40px;
    margin-left: 20px;
  }
  

  .navbar p{
    color: aqua;
  }

  
  .navbar ul li a{
    text-decoration: none;
    color: white;
  }


  .help{
    margin-right: 20px;
  }

  #click{
    display: none;
  }
  
  .navbar ul li:hover{
    border: 1px solid white;
  }
  
  
  .content-right{
      height:70%;
      width: 50%;
      padding: 5px 5px;
      white-space: nowrap;
      overflow-x: auto;
      position: absolute;
      top: 125px;
      left:600px;
  }
  
  .product{
      height: 370px;
      width: 250px;
      background-color: #FFFFFF;
      position: relative;
      box-shadow: 0 5px 10px rgba(17, 0, 17, 0.3);
      display: inline-block;
      margin-right: 20px;
      
  }
  
  .product img{
      height:500px;
      width:250px;
      object-fit: contain;
      position: absolute;
      bottom:20%;
  }
  
  .product h4{
      font-size: 18px;
      left: 10px;
      text-transform: capitalize;
      position: absolute;
      bottom: 37%;
  }
  
  .catagory{
      position: absolute;
      left: 10px;
      bottom: 30%;
      font-weight: 500;
      text-transform: capitalize;
  }
  
  .color{
      position: absolute;
      left: 10px;
      bottom: 24%;
      font-weight: 500;
      text-transform: capitalize;
  }

  .price{
    font: 18px;
    position: absolute;
    bottom: 18%;
    left: 10px;
    font-weight: 600;
    text-transform: capitalize;
}

  
  .shop{
    position: absolute;
    bottom: 7%;
    font-weight: 500;
    text-transform: capitalize;
    background-color:aqua;
    color: black;
    font-weight: bolder;
    padding: 2px;
    text-decoration: none;
    border: 2px solid black;
    margin-left: 20px;
  }

  
  .cart{
    position: absolute;
    left: 35%;
    bottom: 7%;
    font-weight: 500;
    text-transform: capitalize;
    background-color: aqua;
    color: black;
    font-weight: bolder;
    padding: 2px;
    text-decoration: none;
    border: 2px solid black;
    margin-left: 20px;
  }

  .shop:hover{
    box-shadow:1px 1px 12px black;
  }
  
.cart:hover{
  box-shadow: 1px 1px 12px black;
}

  .sideimg img{
    height: 400px;
    margin-top: 40px;
    margin-left:90px;
  }

  .sideimg P{
    color:BLACK;
    position: relative;
    BOTTOM:70PX;
    left:110PX;
    font-weight: bolder;
    text-decoration: none;
  }
  .sideimg .off{
  color:BLACK;
    position: relative;
    BOTTOM:70PX;
    left:118PX;
    font-weight: bolder;
    text-decoration: none;
  }
  .sideimg a{
    color:BLACK;
    position: relative;
    BOTTOM:70PX;
    left:110PX;
    font-weight: bolder;
    text-decoration: none;
    border: 1px solid black;
  }

  .sideimg a:hover{
    background-color: aqua;
    color: white;
  }
  


  .rolex{
    display: inline-block;
    border: 2px solid aqua;
    line-height: 30px;
    margin-left: 15px;
  }
  
  .extra h1{
    color: white;
    
    margin: 10px 0px 10px 43%;
    padding: 50px 50px 20px 50px;
    
  }
  
  .rolex img{
  height: 250px;
  width: 220px;
  }
  
  .rolex h4{
    padding-left: 5px;
    color: white;

  }
  
  
  .rolex p{
    color: white;
    padding-left: 5px;
  }
  
  .rolex a{
    text-decoration: none;
    margin: 5px 10px 5px 20px;
    border: 0.1px solid blue;
    background-color: aqua;
    color: black;
  }
  
  .rolex a:hover{
  box-shadow: 1px 1px 12px white;
  }
  

.footer{
  background-color: rgba(128, 128, 128, 0.384);
  display: flex;
  color: white;
}

.footer .footer1{
  display: flex;
}

.footer .footer2{
  display: flex;
}

  .footer ul li{
    list-style-type: none;
  }

  .footer1 .about{
    margin-left: 60px;
    padding: 15px;
  }

  .footer1 .groupcompanies{
padding: 15px;
  }

 .footer h3:hover{
  scale: 1.1;
 }

 .footer1 ul li:hover{
  text-shadow: 1px 1px 12px aqua;
 }
 
 
 .footer2 ul li:hover{
  text-shadow: 1px 1px 12px aqua;
 }
 
  
  .footer1 .help{
    padding:15px;
      }
     
      
  .footer1 .consumerpolicy{
    padding: 15px;
      }
.footer2 .consumerpolicy{
  padding: 15px;
}     


.footer2 .mail{
  padding: 10px;
    }

    
  .footer2 .registeredoffice{
    padding: 10px;
      }
     
   